body {
  background-color: #f5eef8;
  margin:0;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#welcome-section {
  font-family: 'montserrat-regular', sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;       /*this is  what was missing */
  flex-flow: column;  /*this is  what was missing too*/
}

#welcome-section h2 {
  font-size: 22px;
  font-weight: normal;
  font-family: 'montserrat-regular', sans-serif;
}

#welcome-section h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: 'montserrat-regular', sans-serif;
}

.welcome-header {
  text-align: center;
  /*vertical-align: center; useless*/
}
