body {
  background-color: #f5eef8;
  margin: 0;
}

#welcome-section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

#welcome-section h2 {
  font-size: 24px;
  font-weight: normal;
}

#welcome-section h3 {
  font-size: 20px;
  font-weight: normal;
}

.welcome-header {
  text-align: center;
  /*vertical-align: center; useless*/
}

.btn {
  background-color: transparent;
  color: black;
  border: none;
  padding: 12px 16px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
}

.fa{
  color: black;
}
