body {
  background-color: #f5eef8;
  margin:0;
}

#inner {
  width: 100vw;
  max-width: 950px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#welcome-section {
  font-family: 'Montserrat', sans-serif;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;       /*this is  what was missing */
  flex-flow: column;  /*this is  what was missing too*/
}

#welcome-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

#welcome-section h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.welcome-header {
  text-align: center;
  /*vertical-align: center; useless*/
}

#result {
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px 10px 10px 10px;
}
