body {
  background-color: #f5eef8;
  margin:0;
}

#welcome-section {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;       /*this is  what was missing */
  flex-flow: column;  /*this is  what was missing too*/
}

#welcome-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

#welcome-section h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.welcome-header {
  text-align: center;
  /*vertical-align: center; useless*/
}
